@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Eat Your Feats!</h1>
    <button>New Game</button>
    <h2></h2>
    <button>Continue</button>
</div>
